// $bg-nav: rgb(0, 161, 8);
// $bg-toolsbar: rgb(6, 182, 0);
// $bg-dashboard: rgb(35, 190, 55);
// $bg-column: rgb(59, 82, 46);
// $bd-r: 4px;
// $pd: 10px;
// $width-column: 272px;
// $height-navbar: 50px;
// $height-toolsbar: 50px;
// $height-header-column: 40px;
// $height-footer-column: 40px;
@import './basecss.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
    height: 100vh;
}
